body{
    height: 100%;
    width: 100%;
}

h2{
    font-size: 3em;
    margin: 0;
}

#fr{
    display: flex;
}

#imgH{
    padding: 3%;
}
#bg{
    display: flex;
        align-items: center;
        justify-content: center;
padding: 3%;
}
header {
  height: auto;              
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #64a225;
}
header img{
    margin: 15px;
    max-width: 55%;
    height: auto;

}

#kobetel{
    padding: 0%;
    height: 250px;
    width: 250px;
    }
#persona{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#ii{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartepersona{
        display: flex;
    flex-direction: column;
    align-items: center;
}
#bn{
    display: flex;
    flex-direction: column;
}


.box{
    background: grey;
    display: flex;

    height: 120px;
    width: 120px;
    width: fit-content;
    height: fit-content;
    color: black;
   
    border-radius: 20%;
}
.sous-card-container{
   display: flex;
    padding: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.card-containe{
  display: flex;
    flex-direction:row;
    padding: 3%;
    justify-content: center;
}   
#container{
    display: flex;
    padding: 2%;
    flex-direction: row;
    justify-content: space-around;
}

.tailleimg{
    width: 400px;
    height: 400px;
}

#struturation{display: flex;
padding: 2%;}

.boxheader{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.tailleimg2{
    width: 500px;
    height: 300px;
     border: 5px solid rgb(0, 0, 0);
     border-radius: 5%;
}

.taillelogo{
    height: 50px;
    width: 50px;
   padding: 2%;
}
    #vb{padding: 2%;}


    #bougez{display: flex;
justify-content: center;}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #64a225;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
}
 .encadrer{display: flex;
    justify-content: space-around;
    align-items: center;
padding: 1%;}

 
footer p {
  font-size: 1.5rem;
}
 
 #na{
    display: flex;
 }

 h1 {
  font-family: "Rock Salt", cursive;
  font-size: 3rem; 
  text-align: center;
  letter-spacing: 3px;
}

/* PERSONA */

#persona{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  background-color: #64a225;
  padding: 2vw;
}

#persona img{
    height: 80vh;
    width: 35vw;
    object-fit: contain;
}

.persona{
    display: flex;
    width: 90vw;
    justify-content: center;
    gap: 2vw;
}

.cartepersona{
    width: 20vw;
    height: fit-content;
    background-color: bisque;
    border-radius: 16px;
    padding: 2vw;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 16px;
    width: fit-content;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}
.bouton {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 15px 25px;
  font-size: 16px; 
  font-family: "B612 Mono", monospace;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease;
}
