/* Le code CSS spécifique à la page de documentation */
body{
    height: 100%;
    width: 100%;
}
nav {
            
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  
}
#fr{
    display: flex;
}
 header h1{
    display: flex;
 }
 h1{
    display: flex;
    justify-content: center;
}

#imgH{
    padding: 3%;
}
#bg{
    display: flex;
        align-items: center;
        justify-content: center;
padding: 3%;
}
header {
  height: auto;              
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
header img{
    margin: 15px;
    max-width: 55%;
    height: auto;

}
header h1{
    display: flex;
    justify-content: center;
}

#kobetel{
    padding: 0%;
    height: 250px;
    width: 250px;
    }
#persona{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#ii{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartepersona{
        display: flex;
    flex-direction: column;
    align-items: center;
}
#bn{
    display: flex;
    flex-direction: column;
}


.box{
    background: grey;
    display: flex;

    height: 120px;
    width: 120px;
    width: fit-content;
    height: fit-content;
    color: black;
   
    border-radius: 20%;
}
.sous-card-container{
   display: flex;
    padding: 6%;
    flex-direction: column;
    justify-content: center;
} 
.card-container{
  display: flex;
    flex-direction:row;
    padding: 3%;
    justify-content: center;
}   
#container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2%;
}
    

.tailleimg{
    width: 200px;
    height: 400px;
}


#aa{
    background-color: blue;
    display: flex;
    padding: 3%;
}

.boxheader{
    display: flex;
    flex-direction: column;
    padding: 3%;
}


.tailleimg2{
    width: 500px;
    height: 300px;
}


.taillelogo{
    height: 50px;
    width: 50px;
   padding: 2%;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}
 

 
footer p {
  font-size: 1.5rem;
}
 
 