/* Le code CSS spécifique à la page de documentation */
body{
    height: 100%;
    width: 100%;
}
nav {
    
    display: flex;
    justify-content: space-between;
    
}
nav img{
  width: 150px;
  height: 100px;
}
header{
}
header h1{
    display: flex;
    justify-content: center;
}

header img{
    margin: 15px;
    max-width: 55%;
    height: auto;

}
header h2{
    display: flex;
    justify-content: center;
}
header div{
    display: flex;
    justify-content: center;
}

#kobeetete{
     padding: 0%;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    }
#pers{
    display: flex;
}
.tt{
   display: flex;
}    
#dr{
    display: flex;
    flex-wrap: nowrap;
    padding: 2%;


}
    

.tailleimg{
    width: 200px;
    height: 400px;
}


#a{
    background-color: blue;
}

#z{
    background-color: blue;
}
.taillelogo{
    height: 50px;
    width: 50px;
   padding: 2%;
}
footer p{ display: flex;
justify-content: center;
font-size: 25px;}
