@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Rock+Salt&display=swap');

body {
  margin: 0;
  font-family: "B612 Mono", monospace;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 3rem; 
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem; 
}

p {
  font-size: 0.9rem; 
  color: black;
  text-align: center;
}

header {
  height: auto;              
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav {
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  max-width: 400px;     
  margin: 0 auto;      
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 14px; 
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
}

section {
  padding: 20px;
  max-width: 900px;     
  margin: 0 auto;     
}

img {
  display: block;
  margin: 15px auto;
  max-width: 55%;
  height: auto;
}

ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.bouton {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 15px 25px;
  font-size: 16px; 
  font-family: "B612 Mono", monospace;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  width: fit-content;
  transition: all 0.3s ease;
}

.bouton:hover {
  background-color: #d2691e;
  transform: scale(1.1); 
}

footer {
  padding: 20px;
  text-align: center;
  max-width: 900px;     
  margin: 40px auto;    
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer img {
  width: 75px;
  height: 50px;
}

.Télécharger {
  width: 100px;
}

footer p {
  font-size: 1.5rem; 
}

section ul {
  font-size: 1.5rem; 
}

section ul li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64A225;
  color: white;
}

section ul li img {
  width: 30px;
  height: 30px;
}

.Rejoignez {
  font-size: 1.3rem;
}
