body{
      height: 100%;
    width: 100%;
}


h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 2rem; 
}

p {
  font-size: 1rem; 
  color: black;
  text-align: center;
}


img {
  display: block;
  height: auto;
}



header {
  height: 70vh;
  display: flex;
  justify-content: center;  align-items: center;
  gap: 2vw;
}

header img{
  height: 45vh;
}

header div{
  margin-left: -10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


main {
  display: flex;
  flex-direction: column;
  background-color: white;
}

#profil{
  height: 80vh;
}

section {
  margin: 0;     
}


ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}



footer {
  text-align: center;
  width: 100%;   
  margin: 0;  
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer img {
  width: 50px;
  height: 50px;
}

.Télécharger {
  width: 100px;
}

footer p {
  font-size: 1.5rem; 
}

section ul {
  font-size: 1.5rem; 
}

section ul li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64A225;
  color: white;
}

section ul li img {
  width: 30px;
  height: 30px;
}

.Rejoignez {
  font-size: 1.3rem;
}

header{
  background-color: #64A225;
}

footer{
  background-color: #64A225;
}

#profil,
#budget,
#plats,
#listedecourse {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding: 40px 0;
}
#profil p,
#budget p,
#plats p,
#listedecourse p,
#qrcode p {
  max-width: 35%;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  font-size: 1.3rem;
}
#profil img,
#budget img,
#plats img,
#listedecourse img{
  margin: 0;
  width: 50vw;
  object-fit: contain;
}

#profil img{
  height: 100%;
}

#budget,
#listedecourse{
  background-color: #64A225;
}

#qrcode{
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#qrcode div{
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-around;
    align-items: center;
}

#qrcode img{
  height: 70vh;
}

#communaute{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#communaute img{
  width: 20vw;
}

#telechargement{
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #64A225;
  align-items: center;
  padding: 2vw;
  
}

#telechargement h2{
    margin: 0 auto;
}

.telechargement{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  gap: 15vw;
  margin-top: 6vh;
}

#telechargement .images{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

#communaute{
  background-color: #ED5F11;
}
#budget{
   display: flex;
   flex-direction: row-reverse;
}
#listedecourse{
   display: flex;
   flex-direction: row-reverse;
}