/* -------- IMPORT DES POLICES -------- */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Rock+Salt&display=swap');

body {
  margin: 0;
  font-family: "B612 Mono", monospace;
}
h1 {
  font-family: "Rock Salt", cursive;
  font-size: 3rem; 
  text-align: center;
  letter-spacing: 3px;
}
h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 1.2rem; 
}
p {
  font-size: 0.9rem; 
  color: #333;
  text-align: center;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px;
  max-width: 600px;     
  margin: 0 auto;      
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 16px; 
}
main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 900px;     
  margin: 0 auto;     
}
img {
  display: block;
  margin: 15px auto;
  max-width: 55%;
  height: auto;
}
ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}
.bouton {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 15px 25px;
  font-size: 16px; 
  font-family: "B612 Mono", monospace;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  width: fit-content;
  transition: all 0.3s ease;
}

.bouton:hover {
  background-color: #d2691e;
  transform: scale(1.1); 
}
footer {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 900px;     
  margin: 40px auto;    
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer img {
  width: 50px;
  height: 50px;
}
